:root {
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --background-color: #373f51;
    --theme-color: white;
    --lightest-text: #f1f5f9;
    --light-text: #d1d5db;
    --text: rgb(203 213 225);
    --dark-text: rgb(100 116 139);
}

::-moz-selection {
    color: white;
    background: var(--theme-color);
}

::selection {
    color: white;
    background: var(--theme-color);
}

html,
body {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--background-color);
    counter-reset: title;
}

main {
    transition: 0.3s ease-in-out;
}

.blur {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-text) var(--background-color);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-text);
    border: 3px solid var(--background-color);
    border-radius: 10px;
}
